html, body{
    margin: 0;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-image: black;
    font-size: 16px;
    
}

*{
    box-sizing: border-box;
}

header{
   background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/BodyBackgroundImage.jpg");
   height: 100vh;
}

header nav{
    height: 90px;
}

nav img{
    width: 200px;
    height: 55px;
    vertical-align: middle;
}

nav a.logo{
    display: inline-block;
    line-height: 90px;
    margin-left: 3%;
}

nav .signin{
    color: #fff;
    float: right;
    background-color: #e50914;
    margin-top: 25px;
    padding: 7px 17px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    line-height: normal;
    margin-right: 3%;
}

.pitch{
    max-width: 950px;
    position: relative;
    width: 100%;
    padding: 75px 0;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    
}

.pitch h1{
    font-size: 3.125em;
    font-weight: 700;
    max-width: 640px;
    margin: 0 auto;
}

.email_form{
    
    padding-top: .85rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-flow: column-reverse;
    text-align: center;
}

.email_lookup{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
}

#email{
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    height: 50px;
    width: 270px;
    padding-left: 5px;
}

#submit{
    color: #fff;
    background-color: #e50914;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    height: 50px;
    width: 250px;
    margin: 0 auto;

}
