html, body{
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-image: black;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/BodyBackgroundImage.jpg');
    height: 100vh;
}

nav{
    margin: 0 3.5em;
    padding-top: 20px;
}


nav img{
    height: 60px;
    width: 200px;
    vertical-align: middle;
}

.loginBtn{
    text-decoration: none;
    float: right;
    line-height: normal;
    color: white;
    background-color: #e50914;
    padding: 7px 17px;
    margin-top: 0.5rem;
    border-radius: 3px;
    font-weight: 400;
}

.pitch{
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.8vw;
}

.pitch_title{
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: 700;
}

.joinBtn{
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 400;
    margin: .5em .5em .5em 0;
    padding: 12px 2em;
    background-color: #e50914;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: 0;
    text-align: center;
}

.btn-large{
    padding: 18px 20px;
}

#features{
    background-color: #141414;
    border-bottom: 4px solid #3d3d3d;
}

#features > nav{
    padding-top: 35px;
}

#features > nav a{
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: #777;
    height: 125px;
    line-height: 20px;
}

#features > nav a:hover{
    color: whitesmoke;
}

#features > nav a img{
    height: 49px;
}

#features > nav a h2{
    margin: 10px 0 0;
    font-size: 1em;
}

.columns{
    display: flex;
}


.column{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.column.is-narrow{
    flex: none;
}


.center{
    margin: 0 auto;
}

.size-80{
    width: 80%;
}

.size-90{
    width: 90%;
}

.text-center{
    text-align: center;
}


#features > nav a.is-selected{
    border-bottom: 5px solid #e50914;
    color: white;
}

#features > img.is-selected{
    color: white;
}

#features > article{
    margin-bottom: 120px;
}

.section-img{
    width: 320px;
    height: 180px;
}

#features > article h2{
    font-size: 32px;
    font-weight: 400;
    margin: 60px 0 20px;
}

#features #watchanywhere h2{
    font-size: 19px;
    padding-right: 1em;
    margin: 0 0 20px;
}

#features #watchanywhere > div:first-child{
    margin-bottom: 60px;
}

#features #anywhere p{
    color: #999;
}

#features > article > section{
    display: none;
    padding: 40px 0;
    background: black;
}

#features > article > section.is-selected{
    display: block;
}

#features #pickprice h2{
    font-size: 22px;
    display: inline;
    margin: 0 40px 0 0;
}

table{
    width: 100%;
    margin-top: 20px;
}

table, thead, tbody{
    border-collapse: collapse;
}

thead{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

thead th{
    padding: 10px
}

tbody{
    color: #999;
}

tbody td{
    text-align: center;
    padding: 10px 20px;
}

tbody tr:nth-child(2n){
    background-color: #222;
}

tbody td:first-child{
    text-align: left;
}

footer{
    padding-top: 20px;
    color: #777777;
    max-width: 1000px;
}

footer a{
    color: #777777;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}

footer > p{
    margin: 0 0 30px;
}

footer > ul{
    margin: 0;
    padding: 0;
}

footer > ul > li{
    list-style: none;
    margin: 0 0 16px;
    padding-right:  12px;
    min-width: 100px;
    font-size: 13px;
}

.columns.flex-wrap{
    flex-wrap: wrap;
}

.column.is-25{
    flex: none;
    width: 25%;
}