html,body{
    padding: 0;
    margin: 0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/BodyBackgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

header{
    padding-top: 20px;
}

#logo{
    color: red;
   font-size: 36px;
    font-weight: 50;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 40px;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

 li{
    display: inline;
}

#SignInBtn{
    float: right;
    border: none;
    border-radius: 4px;
    background-color: #e50914;
    color: white;
    padding: 7px 17px;
    margin-right: 40px;
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storyCard{
    margin: auto;
    width: 40%;
    font-size: 1.375rem;
    padding: 75px;
    z-index: 1;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.storyCard h2{
    font-size: 1.557rem;
    font-weight: lighter;
}

form{
    padding: 0;
    margin: 0;
    display: inline;
    
}


#email{
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    height: 50px;
    width: 270px;
    padding-left: 5px;
}

#submit{
    color: #fff;
    background-color: #e50914;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    height: 50px;
    width: 250px;
    margin: 0 auto;

}
